
 

    <div class="col-md-3 order-md-2 mb-4">
      
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"> Request Type</h6>
            <small class="text-muted">{{ process.request_type }}</small>
          </div>
         
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Last</h6>
            <small class="text-muted">{{ process.last }}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">First</h6>
            <small class="text-muted">{{process.first}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Middle</h6>
            <small class="text-muted">{{process.middle}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">User Type</h6>
            <small class="text-muted">{{process.user_type}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Temporary staff</h6>
            <small class="text-muted">{{process.temporary_staff}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Est No</h6>
            <small class="text-muted">{{process.est_no}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Email</h6>
            <small class="text-muted">{{process.email}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Email</h6>
            <small class="text-muted">{{process.email}}</small>
          </div>
          
        </li>
       
        
      </ul>

      
  
   
    </div>  
    <div class="col-md-3 order-md-2 mb-4">
     
      <ul class="list-group mb-3">
      
       
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Mobile No</h6>
            <small class="text-muted">{{process.mobile_no}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Company Name</h6>
            <small class="text-muted">{{process.company_name}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Job Title</h6>
            <small class="text-muted">{{process.job_title}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Department</h6>
            <small class="text-muted">{{process.department}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Station</h6>
            <small class="text-muted">{{process.station}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Section</h6>
            <small class="text-muted">{{process.section}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Area</h6>
            <small class="text-muted">{{process.area}}</small>
          </div>
          
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Date Submitted</h6>
            <small class="text-muted">{{process.date}}</small>
          </div>
          
        </li>
       
        
      </ul>

      
  
   
    </div>  