{% load crispy_forms_tags %}
<div class="card" id="mainCard">
    <div class="card-body">
      <h5 class="card-title text-center">REVENUE MANAGEMENT SYSTEM ACCOUNT REQUISITION FORM</h5>
      <p class='strong text-center'>NOTE:For instructions on completing this form; as well as, user requirements, please see down below.

        </p>
     
      
      <form method='POST'class="row g-3" name='rmsform'>
        {%csrf_token%}

        <!--RMS GENERAL INFORMATION FORM-->
      <div class="card col-12"  id="mainCard">
        <div class="card-body">
              <h5 class="card-title">SECTION I: General Information</h5>
          
                 <div class="col-md-12">

            {% comment %} <label for="inputName5" class="form-label"> Last  Name</label> {% endcomment %}
            {% comment %} <input type="text" class="form-control" id="inputName5"> {% endcomment %}
                  {{form.request_type|as_crispy_field}}
                </div>
            <div class="row">
                  <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label"> Last  Name</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
                  {{form.last|as_crispy_field}}
                  </div>
                  <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label"> First  Name</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
                   {{form.first|as_crispy_field}}
                  </div>
                 <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label"> Middle  Name</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.middle|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label"> Salutation</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.salutation|as_crispy_field}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">

            {% comment %} <label for="inputName5" class="form-label"> Last  Name</label> {% endcomment %}
            {% comment %} <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.user_type|as_crispy_field}}
          </div>
          <div class="col-md-3">

            {% comment %} <label for="inputName5" class="form-label"> Last  Name</label> {% endcomment %}
            {% comment %} <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.temporary_staff|as_crispy_field}}
          </div>

          <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label">Est No.</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.est_no|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {% comment %} <label for="inputEmail5" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail5"> {% endcomment %}
            {{form.email|as_crispy_field}}
          </div>
        </div>
        <div  class="row">
          <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label">Mobile No.</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.mobile_no|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label"> Company  Name</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.company_name|as_crispy_field}}
          </div>
          <div class="col-md-3">
            {% comment %} <label for="inputName5" class="form-label"> Job Title</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.job_title|as_crispy_field}}
          </div>
          <div class="col-md-3">

            {{form.department|as_crispy_field}}
          </div>
        </div>
       
        <div class="row">
                    
          <div class="col-md-4">
            {% comment %} <label for="inputCity" class="form-label">Section</label>
            <input type="text" class="form-control" id="inputCity"> {% endcomment %}
            {{form.section|as_crispy_field}}
          </div>

         
          <div class="col-md-4" >
           
            {{form.date|as_crispy_field}}
            
          </div>
          <div class="col-md-4">
            {% comment %} <label for="inputZip" class="form-label">Area</label>
            <input type="text" class="form-control" id="inputZip"> {% endcomment %}
            {{form.area|as_crispy_field}}
          </div>
         


         
        </div>
        <div class='row'>
          <div class="col-md-12">
            {% comment %} <label for="inputName5" class="form-label"> Station</label>
            <input type="text" class="form-control" id="inputName5"> {% endcomment %}
            {{form.station|as_crispy_field}}
          </div>
         </div>
     
       

          
        </div>
      </div>
      
        <hr>
      
        
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">SECTION II: ACCESS & GROUP SELECTION</h5>
          
            <!-- Bordered Table -->
            <table class="table table-responsive table-bordered ">
             
              <tbody>
                <tr>
                 
                  <td>
                    {% comment %} <label for="inputZip" class="form-label">Area</label>
                    <input type="text" class="form-control" id="inputZip"> {% endcomment %}
                    {{form.ICT|as_crispy_field}}
                  </td>
                  <td>{{form.FINANCE|as_crispy_field}}</td>
                  <td> {{form.CUSTOMER_SERVICE|as_crispy_field}}</td>
                 
                  <td> {{form.MARKETING|as_crispy_field}}</td>
                  <td> {{form.PARKS_AND_RESERVES|as_crispy_field}}</td>
                  <td> {{form.REVENUE_PROTECTION_UNIT|as_crispy_field}}</td>
                  <td> {{form.INTERNAL_AUDIT|as_crispy_field}}</td>
                </tr>
              
              </tbody>
            </table>
          </fieldset>
            <!-- End Bordered Table -->

            
          </div>
        </div>
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">SECTION III: USER ACCOUNT REQUEST</h5>
            <p class='strong'>By signing below you acknowledge that you have read and understood the Revenue Management System Security Agreement
              below.
              </p>
           
            <div class="row">
             
              <div class="col-md-4">
                
                {{form.Full_Name|as_crispy_field}}
              </div>
              <div class="col-md-4">
                
                {{form.Signature|as_crispy_field}}
              </div>
              <div class="col-md-4">
                
                {{form.Date|as_crispy_field}}
              </div>
            </div>
         
          </div>
        </div>
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">SECTION IV: Department Head AUTHORIZATION</h5>
            <p class='strong'>By signing below you acknowledge that the person requesting Revenue Management System access has a legitimate “need to
              know”
              
              </p>
            <div class="row">
              <div class="col-md-4">
                
                {{form.HOD_name|as_crispy_field}}
              </div>
              <div class="col-md-4">
                
                {{form.HOD_approve|as_crispy_field}}
              </div>
             
              <div class="col-md-4" >
                
                {{form.HOD_email|as_crispy_field}}
              </div>
            </div>
            <div class="row" id='hod_rejection_comments'>
              <div class="col-md-12">
                {{form.HOD_Remarks|as_crispy_field}}
              </div>
        </div>
          </div>
        </div>
      
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">SECTION IV: ICT AUTHORIZATION</h5>
            <p class='strong'>By signing below you acknowledge that the person requesting Revenue Management System access has a legitimate “need to
              know”
              
              </p>
            <div class="row">
              <div class="col-md-4">
                
                {{form.ICT_Authority_name|as_crispy_field}}
              </div>
              <div class="col-md-4" 
              >
              
                {{form.ICT_Approve|as_crispy_field}}
              </div>
              
              <div class="col-md-4">
                
                {{form.ICTAuthority_email|as_crispy_field}}
              </div>
            </div>
            <div class="row" id='ict_rejection_comments'>
                  <div class="col-md-12">
                    {{form.ICT_Remarks|as_crispy_field}}
                  </div>
            </div>
          </div>
        </div>
       
        {{ activation.management_form}}
        <div class="col-12 d-flex justify-content-between text-center m-3 ">
          <button type="reset" class="btn btn-secondary btn-color">Reset</button>
          <button type="submit" name="_continue" class="btn btn-primary btn-color">Submit and go to next request</button>

        </div>
        
      </form>
      

    
    </div>
  </div>
<script>
  function commentarea(){
    const  hod_approve=document.getElementById('id_HOD_approve').value
    const  ict_approve=document.getElementById('div_id_ICT_Approve').value
    if(hod_approve=='true'){
      const comments=document.getElementById('hod_rejection_comments').style.display='None'
    }
    if(ict_approve=='true'){
      const comments=document.getElementById('ict_rejection_comments').style.display='None'
    }
  }

</script>
<script>
  const container = document.querySelector("#div_id_station");
  container.style.margin='20px';
  next_div=document.getElementById("div_id_station").lastElementChild;
  next_div.classList.add('row')
  const matches = container.querySelectorAll("div.form-check");
  
  var i;
  function clearStations(){
    var i;
    for(i=0;i<matches.length;i++){
      matches[i].style.display='none';
      
     }

  }
  for(i=0;i<matches.length;i++){
    matches[i].classList.add('col-6');
    
   }

  
  window.onload=document.getElementById("id_area").oninput=function filterStations(){

  var selected_area = document.getElementById("id_area").value;
 
 
  if(selected_area == "MOUNTAIN CONSERVATION AREA"){
    clearStations()
    matches[0].style.display='';
    matches[1].style.display='';
    matches[2].style.display='';
   
  }
  if(selected_area == "SOUTHERN CONSERVATION AREA"){
     clearStations()
     matches[3].style.display='';
     matches[4].style.display='';
     matches[5].style.display='';
     matches[6].style.display='';
     matches[7].style.display='';
   }
   if(selected_area == "CENTRAL-RIFT CONSERVATION AREA"){
    clearStations()
     matches[8].style.display='';
     matches[9].style.display='';
     matches[36].style.display='';
    
   }
   if(selected_area == "TSAVOS(TSAVO CONSERVATION AREA)"){
    clearStations()
     matches[10].style.display='';
     matches[11].style.display='';
     matches[12].style.display='';
    
   }
   if(selected_area == "COAST CONSERVATION AREA"){
    clearStations()
     matches[13].style.display='';
     matches[14].style.display='';
     matches[15].style.display='';
     matches[16].style.display='';
     matches[17].style.display='';
     matches[18].style.display='';
     matches[19].style.display='';
     matches[20].style.display='';
     matches[21].style.display='';
     matches[22].style.display='';
     
    
   }
   if(selected_area == "EASTERN CONSERVATION AREA"){
    clearStations()
     matches[23].style.display='';
    
    
   }
   if(selected_area == "NORTHERN CONSERVATION AREA"){
    clearStations()
     matches[24].style.display='';
     matches[25].style.display='';
     matches[26].style.display='';
    
    
   }
   if(selected_area == "WESTERN CONSERVATION AREA"){
    clearStations()
     matches[27].style.display='';
     matches[28].style.display='';
     matches[29].style.display='';
     matches[30].style.display='';
     matches[31].style.display='';
     matches[32].style.display='';
     matches[33].style.display='';
     matches[34].style.display='';
     matches[35].style.display='';
    
    
    
   }
   else if(selected_area == ""){
    for(i=0;i<matches.length;i++){
      matches[i].style.display='none';
       }
   }
  }
</script>

