{% extends 'base.html' %}
{%block content%}
{% load crispy_forms_tags %}
{%load static%}
{% include 'dashboard.html' %}
{% load viewflow %}
<style>
  #progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: rgb(252, 103, 49);
    padding-left: 0px;
    margin-top: 3vh
}

#progressbar li {
    list-style-type: none;
    font-size: x-small;
    width: 14.2%;
    float: left;
    position: relative;
    font-weight: 700;
    color: rgb(160, 159, 159);
}

#progressbar #step1:before {
    content: "";
    color: rgb(252, 103, 49);
    width: 5px;
    height: 5px;
    margin-left: 0px !important;
    /* padding-left: 11px !important */
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-left: 32%;
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 32% ; 
    /* padding-right: 11px !important */
}

#progressbar #step4:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 0px !important;
    /* padding-right: 11px !important */
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
}

#progressbar li:after {
    content: '';
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 1px;
    z-index: 1;
}
.progress-track{
    padding: 0 8%;
}
#progressbar li:nth-child(2):after {
    margin-right: auto;
}

#progressbar li:nth-child(1):after {
    margin: auto;
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%;
}
#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%;
}

#progressbar  li.active{
    color: black;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: rgb(252, 103, 49);
}

</style>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <div class="container">
        
                <div class="row">
                 <div class="col-md-12">
                  <div class="tracking">
                    <div class="title">Tracking your request</div>
                </div>
                <div class="progress-track">
                    <ul id="progressbar">
                 {% for task in task_list %}
                  {% flowurl task user=request.user as task_url %}
                  {% if task.status == 'DONE' %}
                  <li class="step0 active " id="step1">{{ task.summary|default:task.flow_task  }}</li>
                  {% else %}
                  <li class="step0 text-right" id="step4">{{ task.summary|default:task.flow_task }}</li>
                  {% endif %}
                  {% endfor %}
                    
                       
                    </ul>
                </div>
              </div>
                  <div class="col-md-6 order-md-1">
                    <div class="row px-3">
                      <div class="col">
                         
                          
                            
                          
                      </div>
                  </div>
                    <table class="table table-borderless datatable">
                      <thead>
                        <tr>
                          <th scope="col">Task Id</th>
                          <th scope="col">Description</th>
                          <th scope="col">Assigned To</th>
                          <th scope="col">Status</th>
                          
    
                        </tr>
                      </thead>
                      <tbody>
                        {% for task in task_list %}
                        {% flowurl task user=request.user as task_url %}
                        <tr>
                          <td>
                            {% if task_url %}<a href="{{ task_url}}">{{ task.pk }}</a>{% else %}{{ task.pk }}{% endif %}
                          </td>
                          <td>{{ task.summary|default:task.flow_task }}</td>
                          <td>{{ task.owner }}</td>
                          <td>{{ task.status }}</td>
                        </tr>
                        {% endfor %}
                       
                        
                       
                      </tbody>
                    </table>
                  </div>
                  {% include_process_data process %}
  
                </div>
              
        
                {% comment %} <div class="row">
                  <div class="col s12 m6 l5 offset-m3 offset-l2">
                    <table>
                      <thead>
                        <tr>
                          <td>Steps</td>
                          <td>Description</td>
                          <td>Owner</td>
                          <td>Status</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for task in task_list %}
                        {% flowurl task user=request.user as task_url %}
                        <tr>
                          <td>
                            {% if task_url %}<a href="{{ task_url}}">{{ task.pk }}</a>{% else %}{{ task.pk }}{% endif %}
                          </td>
                          <td>{{ task.summary|default:task.flow_task }}</td>
                          <td>{{ task.owner }}</td>
                          <td>{{ task.status }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="col s12 m6 l4 offset-m3 offset-l1">
                    {% include_process_data process %}
                  </div>
                </div> {% endcomment %}
          
  
              </div>
     
    </div>

  

    
  </main>
{%endblock content%}