{% extends 'base.html' %}
{%block content%}
{% load crispy_forms_tags %}
{%load static%}
{% include 'dashboard.html' %}
{% load viewflow %}

<main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div class="container">
      
              <div class="row">
               
                <div class="col-md-12 order-md-1">
                  <strong class="center">
                   You have been requested by {{activation.process.created_by}} to review and approve the following information:<br>
                    <a href="{% url 'access:detail' activation.process.pk %}">Approval  for  {{activation.process}} <br>Request: {{ activation.process.request_type}} => {{ activation.flow_task }}</a>
                  </strong>
                         
                        {% include 'rms_form.html' %}
                        
                        
                        
                    
                
                 
                </div>
                {% comment %} {% include_process_data process %} {% endcomment %}

              </div>
            
      
              
            </div>
   
  </div>



  
</main>

{% endblock %}
