{% extends 'base.html' %}
{%block content%}
{% load crispy_forms_tags %}
{%load static%}
{% include 'dashboard.html' %}
{% load viewflow %}

<main id="main" role="main" class="main">
  <div class="row">
    <div class="pagetitle col-12 col-md-12">
      <h1>{{activation.process}} Approval</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item "><a href="{% flowurl activation.process 'tasks' %}">{{activation.process}} Tasks</a></li>
            <li class="breadcrumb-item active">Task {{task.pk}}</li>
        </ol>
      </nav> 
    </div><!-- End Page Title -->
    
  </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
              
          <div class="col-md-12 order-md-1">
            <p class="strong text-center">
             You have been requested by {{activation.process.created_by}} to review and approve the following information:<br>
              
          </p>
          </div>
         
          {% include_process_data activation.process %}
        </div>


      </div>
    </section>



  </div>




</main>


{% endblock %}
