
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load viewflow %}
{% load static%}

{% block content%}
{% include 'dashboard.html' %}
<main id="main" class="main">
  <div class="row">
  <div class="pagetitle col-8">
    <h1>Forms  you have  submitted for approval</h1>
    {% comment %} <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Request forms</li>
      </ol>
    </nav> {% endcomment %}
  </div><!-- End Page Title -->
  
</div>
<section class="section dashboard">
    
   

      
      
<div class="row"> 
   
<div class="col-12 col-xs-12">
      <div class="card recent-sales">

              <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
              </div>

              <div class="card-body">
                  <h5 class="card-title">Request  List<span>| All</span></h5>

                  <table id="formlist" class="table datatable  table-border table-sm col table-responsive " cellspacing="0"
                  width="100% ">
                    <thead>
                      <tr>
                       
                        <th scope="col">#</th>
                        <th scope="col">Application Type</th>
                        <th scope="col" data-sortable='False'>Nature Of Request</th>
                        <th scope="col">Pending Approval</th>
                        
                        
                        <th scope="col">Finished on</th>
                        <th scope="col">Completely Approved</th>
                       
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for process in process_list %}
                      {% if process.created_by == request.user %}
                      <tr>
                        <td>
                          <a href="{% url 'email_form:detail' process.pk %}">{{forloop.counter }}</a>                        
                        </td>
                        <td> {{ view.flow_class }} </td>
                        <td>{{ process.Nature_of_Request }}</td>
                        <td>{{ process.active_tasks.count}}</td>
                        
                        <td>
                          {%if process.finished == None %}
                            Not Done
                          {%else%}
                          <span class="badge badge-success">{{ process.finished}}</span>
                          {% endif %}
                        </td> 

                        <td>
                          {{ process.fully_approved}}
                        </td>
                       
                      </tr>
                      {% endif %}
                      {% endfor %}
                     
                    </tbody>
                  </table>

          

              </div>
           

       
             
      </div><!-- End recent sales --> 
</div> 

</div>      


</section>
</main><!-- End #main -->


{%endblock content%}