{% extends 'base.html' %}
{%block content%}
{% load crispy_forms_tags %}
{%load static%}
{% include 'dashboard.html' %}
{% load viewflow %}

<main id="main" role="main" class="main">
  <div class="row">
    <div class="pagetitle col-8">
      <h1>Email address service request Task detail</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item ">Email address service request  tasks</li>
          <li class="breadcrumb-item ">{{task}} detail</li>
        </ol>
      </nav> 
    </div><!-- End Page Title -->
    
  </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
              
          <div class="col-md-12 order-md-1">
            <strong class="center">
             You have been requested by {{activation.process.created_by}} to review and approve the following information:<br>
              <a href="{% url 'access:detail' activation.process.pk %}">Approval  for  {{activation.process}} <br>Request: {{ activation.process.request_type}} => {{ activation.flow_task }}</a>
            </strong>
          </div>
          {% include 'email_form.html' %}
        

        </div>


      </div>
    </section>



  </div>




</main>

{% endblock %}
