
<!DOCTYPE html>
<html lang="en">
   
  
<head>
  {%load static%}  
 
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ACCESS FORMS WORKFLOW</title>

    

    
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

      <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  
  <link href="{% static '/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
 
  <link href="{%   static '/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"> 
  <link href="{%   static '/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
 

      <!-- Template Main CSS File -->
  <link href="{%   static '/assets/css/style.css' %}" rel="stylesheet"> 
       <!-- <link href="{%   static '\css\style.css' %}" rel="stylesheet"> -->
 
</head>
<body>

{%block content%}
<!--everything  goes here-->

{%endblock content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static '\assets\vendor\jquery.min.js\jquery.min.js' %}"></script>
<script src="{% static '\assets\bootstrap\js\bootstrap.js' %}"></script>

<script src="{% static '\assets\bootstrap\js\bootstrap.bundle.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static '/assets/vendor/tinymce/tinymce.min.js' %}"></script>

<script src="{% static '/assets/vendor/quill/quill.min.js' %}"></script>
  
  <script src="{% static '/assets/vendor/simple-datatables/simple-datatables.js' %}"></script> 
  <script src="{% static '/assets/vendor/fontawesome-free/js/all.min.js' %}"></script> 
  <script src="{% static '\assets\js\main.js' %}"></script>
</body>
</html>
<!---->
