{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load viewflow %}
{% load static%}

{% block content%}
{% include 'dashboard.html' %}
{% block css %} 
    
    <link href="{%   static 'assets\simple-datatables\style.css' %}" rel="stylesheet"> 
{% endblock css %} 
<main id="main" class="main">
  <div class="row">
    <div class="pagetitle col-12">
      <h1>{% if user.is_ICT_Authority%} Dashboard{%else%}Home{%endif%}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{% if user.is_ICT_Authority%} Dashboard{%else%}Home{%endif%}</li>
        
        </ol>
      </nav> 
    </div><!-- End Page Title -->
    
  </div>
    

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
      {% if user.is_ICT_Authority %}
      <div class="row">
        
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card " id='reportscard'>

              <div class="card-body">
                <h5 class="card-title">Unfinished Workflows</h5>
                <hr>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fas fa-chart-area"></i>
                  </div>
                  <div class="ps-3">
                   
                      <h6 class="text-info text-center  fw-bold">{{active_workflows_count}}</h6>
                    
                    
                    <span class="text-dark small pt-1 text-muted">View the details of the workflows that have <b>NOT</b> reached END stage in the selected workflow</span> <span class="text-muted small pt-2 ps-1"></span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End  Card -->
            <div class="col-xxl-4 col-md-4">
                <div class="card info-card " id='reportscard'>
    
                  <div class="card-body">
                    <h5 class="card-title">Completed Workflows  </h5>
                    <hr>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fas fa-chart-area"></i>
                      </div>
                      <div class="ps-3">
                       
                          <h6 class="text-info text-center  fw-bold">{{finished_workflows_count}}</h6>
                        
                        
                        <span class="text-dark small pt-1 text-muted">View the details of the workflows that have reached END stage in the selected workflow</span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
            </div><!-- End  Card -->
            <div class="col-xxl-4 col-md-4">
                <div class="card info-card " id='reportscard'>
    
                  <div class="card-body">
                    <h5 class="card-title">Pending HOD Approval </h5>
                    <hr>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fas fa-chart-area"></i>
                      </div>
                      <div class="ps-3">
                        <h6 class="text-info text-center fw-bold">{{pending_hod_approval_count}}</h6>
                        <span class="text-dark small pt-1 text-muted">View the Workflows that have not yet being approved by respective hods</span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
            </div><!-- End  Card -->
            <div class="col-xxl-6 col-md-6">
              <div class="card">
               
            
                <div class="card-body pb-0">
                  <h5 class="card-title">Pending HOD Approval <span>|All</span></h5>
            
                  <div id="trafficChart" style="min-height: 250px;" class="echart"></div>
            
                  <script>
                    var RMS=20;
                    var SUN=30;
                    var EMAIL=50;
                    document.addEventListener("DOMContentLoaded", () => {
                      echarts.init(document.querySelector("#trafficChart")).setOption({
                        tooltip: {
                          trigger: 'item'
                        },
                        legend: {
                          top: '5%',
                          left: 'center'
                        },
                        series: [{
                          name: 'View',
                          type: 'pie',
                         
                          radius: ['50%'],
                          avoidLabelOverlap: false,
                          label: {
                            show: false,
                            position: 'center'
                          },
                         
                          emphasis: {
                            scaleSize: 20,
                            label: {
                              show: true,
                              fontSize: '12',
                              fontWeight: 'bold'
                            }
                          },
                          labelLine: {
                            show: false
                          },
                          data: [{
                            value: RMS,
                            name: 'RMS ACCOUNT REQUISITION',
                            itemStyle:{color:'lightseagreen'}
                          },
                          
                         
                         
                          {
                            value:SUN,
                            name: 'NEW USER SUNSYSTEM',
                            itemStyle:{color:'rgba(102, 118, 24, 0.8)'}
                          },
                          {
                            value:EMAIL,
                            name: 'EMAIL SERVICE REQUEST',
                            itemStyle:{color:'#51678f'}
                          }
                        ]
                        }]
                      });
                    });
                  </script>
            
                </div>
              </div><!-- End Website Traffic -->
            </div>
             <div class="col-xxl-6 col-md-6">
              <div class="card">
                
            
                <div class="card-body pb-0">
                  <h5 class="card-title">Active Workflows<span>|All</span></h5>
            
                  <div id="trafficChart1" style="min-height: 250px;" class="echart"></div>
            
                  <script>
                    var RMS=20;
                    var SUN=30;
                    var EMAIL=50;
                    document.addEventListener("DOMContentLoaded", () => {
                      echarts.init(document.querySelector("#trafficChart1")).setOption({
                        tooltip: {
                          trigger: 'item'
                        },
                        legend: {
                          top: '5%',
                          left: 'center'
                        },
                        series: [{
                          name: 'Access From',
                          type: 'pie',
                          radius: ['20%', '40%'],
                          avoidLabelOverlap: false,
                          label: {
                            show:false,
                            position: 'center'
                          },
                          emphasis: {
                            label: {
                              show: true,
                              fontSize: '12',
                              fontWeight: 'bold'
                            }
                          },
                          labelLine: {
                            show: false
                          },
                          data: [{
                              value: RMS,
                              name: 'RMS ACCOUNT REQUISITION'
                            },
                            
                           
                           
                            {
                              value:SUN,
                              name: 'NEW USER SUNSYSTEM'
                            },
                            {
                              value:EMAIL,
                              name: 'EMAIL SERVICE REQUEST',
                              itemStyle:{color:'rgba(102, 118, 24, 0.8)'}
                            }
                          ]
                        }]
                      });
                    });
                  </script>
            
                </div>
              </div><!-- End Website Traffic -->
            
            </div>
       
      </div>
      
      
        <div class="row">
            <div class="card recent-sales">

             
  
                <div class="card-body">
                    <h5 class="card-title">Active Workflows<span>| All</span></h5>
  
                    <table id="formlist" class="table   datatable   table-sm table-responsive" cellspacing="0"
                    width="100% ">
                      <thead>
                        <tr>
                         
                          <th scope="col" >#</th>
                          <th scope="col">Workflow Name</th>
                          <th scope="col">Requestor</th>
                          <th scope="col">When Created</th>
                          <th scope="col">Workflow Description</th>
                          <th scope="col">Current Assignee </th>
                          <th scope="col">When Assigned</th>
                          <th scope="col">Status</th>
                         
                          
                        </tr>
                      </thead>
                      <tbody>
                     {% for workflow in active_workflows%}   
                        <tr>
                          <td>
                           {{forloop.counter}}              
                          </td>
                          <td> {{workflow.flow_class}} </td>
                          <td> {{workflow.created_by.first_name}}     {{workflow.created_by.last_name}}</td>
                          <td> {{workflow.created}}     </td>
                         
                        
                           <td>
                           
                   {{workflow.summary}}
                          </td> 
                   
                          <td>
                          {{workflow.active_tasks.first.owner.first_name}}   {{workflow.active_tasks.first.owner.last_name}}
                          </td>
                          <td>
                            {{workflow.active_tasks.first.assigned}}
                            </td>
                          <td >

                           <span class="badge badge-info">Pending {{workflow.active_tasks.first.flow_task}}</span>
                           </td>
                        </tr>
                       {% endfor %}
                       
                      </tbody>
                    </table>
  
            
  
                </div>
             
  
         
               
        </div><!-- End actives --> 
     
        </div>
      {% endif %}
      <!-- WORKFLOW-->
      <section id="team">
          <div class="container-fluid">
              <h5 class="section-title ">Create Approval Workflows below</h5>
              <div class="row">
                  <!-- email-->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" >
                          <div class="mainflip flip-0">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><i class="fa fa-envelope"></i></p>
                                          <h4 class="card-title">KWS EMAIL ADDRESS-SERVICE REQUEST</h4>
                                          <p class="card-text">Request a kws work email.</p>
                                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">KWS EMAIL ADDRESS-SERVICE REQUEST</h4>
                                          <p class="card-text">Start your email application process.After Reading and Understanding the email policy you will fill your general information and the form will be forwarded to your department head for review.</p>
                                          <a href="{% url 'email_form:email_start' %}" class="btn btn-primary btn-sm">START WORKFLOW</i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" >
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><i class="fa fa-id-badge"></i></p>
                                        <h4 class="card-title">KWS RMS ACCOUNT REQUISITION FORM</h4>
                                        <p class="card-text">Request a RMS account and access</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">RMS ACCOUNT REQUISITION PROCESS</h4>
                                        <p class="card-text">Start your RMS account requisition process.After Reading and Understanding the security agreement you will fill your general information and the form will be forwarded to your department head for review.</p>
                                        <a href="{% url 'access:rms_start' %}" class="btn btn-primary btn-sm"> START WORKFLOW</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><i class="fa fa-id-badge"></i><i class="fa fa-users"></i></p>
                                      <h4 class="card-title">KWS HRMIS USER request & Permission Form </h4>
                                      <p class="card-text">This form is to request access to the KWS HRMIS Perpay System
                                        on the KWS network.</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">KWS HRMIS USER request & Permission Process</h4>
                                      <p class="card-text">Start your HRMIS USER account requisition process.After Reading and Understanding the security agreement you will fill your general information and the form will be forwarded to your department head for review.</p>
                                      <a href="#" class="btn btn-primary btn-sm"> START WORKFLOW</i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><i class="fa fa-id-badge"></i></p>
                                      <h4 class="card-title">SunSystems New User Signup Request Form
                                      </h4>
                                      <p class="card-text">To be completed by new user of HQS’s accounting system</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">SunSystems New User Signup Request  Process</h4>
                                      <p class="card-text">Start your SunSystems New User Signup process. You will fill your general information and the form will be forwarded to your Unit head for review.</p>
                                      <a href="{% url 'newusersunsystem:newusersunsystem_start' %}" class="btn btn-primary btn-sm"> START WORKFLOW</i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><i class="fa fa-id-badge"></i><i class="fa fa-user"></i></p>
                                      <h4 class="card-title">KWS ESMS USER Access Request & Permission Form
                                      </h4>
                                      <p class="card-text">This form is to request access to the KWS ESMS System on the
                                        KWS network.</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">KWS ESMS USER Access Request & Permission Process</h4>
                                      <p class="card-text">Start ESMS USER Access Request & Permission process. You will fill your general information and the form will be forwarded to your Unit head for review.</p>
                                      <a href="#" class="btn btn-primary btn-sm">START WORKFLOW</i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 </div>
                 
               
      
              </div>
          </div>
   
      
    </section>

  </main><!-- End #main -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static '\assets\apexcharts\apexcharts.min.js' %}"></script>
 
  <script src="{% static '\assets\chart.js\chart.min.js' %}"></script>
  <script src="{% static '\assets\echarts\echarts.min.js' %}"></script>
  <script src="{% static '\assets\js\main.js' %}"></script>
{%endblock content%}