{% extends 'base.html' %}
{%block content%}
{%load viewflow%}
{%load static%}

{% block css %} 
    <link href="{% static '/assets/css/dashboard.css' %}" rel="stylesheet">
{% endblock css %}    
      

  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'access:dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static '\assets\img\greenkwslogo.png' %}" alt="">
        <span class="d-none d-lg-block">WorkFlow</span>
      </a>
   
    </div><!-- End Logo -->

    

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

      
       
       
       

        <li class="nav-item dropdown pe-3">

         <div class="nav-link nav-profile d-flex align-items-center pe-0">
            <img src="{% static '\assets\img\profile.png' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block ps-2">{{request.user}}-</span>

            <a  href="{% url 'logout' %}" >LOG OUT</a><!-- End Profile Iamge Icon -->
         </div>
         
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
             
             {%if user.is_kwsstaff %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'access:index'%}" >
                  <span class="bi bi-file-earmark-break-fill"></span>
                 Your Applications
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'access:tasks' %}">
                  <span class="bi bi-list-task"></span>
                  Notifications<span class="badge badge-secondary badge-pill">{{inbox_count}}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'access:tasks' %}">
                  <span class="bi bi-list-task"></span>
                  Queues<span class="badge badge-secondary badge-pill">{{inbox_count}}</span>
                </a>
              </li>
              {%else%}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'access:tasks' %}" >
                  <span class="bi bi-file-earmark-break-fill"></span>
                Requests<span class="badge badge-secondary badge-pill">{{inbox_count}}</span>
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'access:tasks' %}">
                  <span class="bi bi-list-task"></span>
                  Approved  <span class="badge badge-secondary badge-pill">0</span>
                </a>
              </li> 
             
             {% endif %}
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>WORKFLOWS</span>
              <a class="d-flex align-items-center text-muted" href="#">
               
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'access:rms_start' %}">
                    <span class="bi bi-file-break"></span>
                 RMS WORKFLOW
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="bi bi-file-break"></span>
                  Email WORKFLOW  
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="bi bi-file-break"></span>
                  HRMIS WORKFLOW 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="bi bi-file-break"></span>
                   USER SUNSYSTEM 
                </a>
              </li>
              
            </ul>
          </div>
        </nav>
        
       
       
      </div>
    </div>

    
{% endblock content %}
